<section>
  <span>
    {{ 'backlog.todoList' | transloco }}
    {{ (todos$ | async)?.length ? ' (' + (todos$ | async)?.length + ')' : ''  }}
  </span>
  <mat-button-toggle-group
    class="status"
    [value]="filterValueSubj.value"
    (change)="onFilterChange($event)"
  >
    <mat-button-toggle [value]="EStatusFilter.ALL">{{ 'backlog.filters.all' | transloco }}</mat-button-toggle>
    <mat-button-toggle [value]="EStatusFilter.IN_PROGRESS">🔄 {{ 'backlog.filters.inProgress' | transloco }}</mat-button-toggle>
    <mat-button-toggle [value]="EStatusFilter.COMPLETED">✅ {{ 'backlog.filters.completed' | transloco }}</mat-button-toggle>
  </mat-button-toggle-group>

  <div class="columns-container">
    <ul class="column column-start list">
      @if (isLoading()) {
      <app-spinner />
      } @else {

        @for (item of (filteredTodos$ | async); track item.id) {
        <li class="list__item">
          <todo-list-item
          [item]="item"
          [isSelected]="item.id === selectedItemId()"
        />
        </li>
        }
      }
    </ul>
  </div>
</section>

