<h1>ToDo List ({{ itemsCount() }})</h1>
<app-new-todo-form />
<section>
  <mat-button-toggle-group
    class="status"
    [value]="filterValue()"
    (change)="onFilterChange($event)"
  >
    <mat-button-toggle [value]="EStatusFilter.ALL">Все</mat-button-toggle>
    <mat-button-toggle [value]="EStatusFilter.IN_PROGRESS">🔄 В прогрессе</mat-button-toggle>
    <mat-button-toggle [value]="EStatusFilter.COMPLETED">✅ Завершено</mat-button-toggle>
  </mat-button-toggle-group>

  <div class="columns-container">
    <div class="column column-start">
      @if (isLoading()) {
      <app-spinner />
      } @else {
      <ul class="list">
        @for (item of filteredTodos(); track item.id) {
        <li class="list__item">
          <todo-list-item [item]="item" />
        </li>
        }
      </ul>
      }
    </div>
    <div class="column">
      @if (isSelected()) {
      <app-edit-todo-form />
      }
    </div>
  </div>
</section>

