:host {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.columns-container {
  display: flex;
  gap: 2rem;

  & .column-start {
    flex-grow: 1;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.status {
  align-self: flex-start;
}
