.completed {
  text-decoration: line-through;
}

.item {
  position: relative;
  padding: 1rem;
  cursor: pointer;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__actions {
    justify-content: flex-end;
  }
}

.selected {
  background-color: beige;
}


