:host {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

mat-sidenav-container {
  flex-grow: 1;
}

.toolbar {
  background: linear-gradient(179deg, #abd5bd 0%, #bbcfdd 100%);
}

.app-name {
  margin-left: 2rem;
  font-size: 2rem;
}
