<form
  #form="ngForm"
  (ngSubmit)="addItem()"
  class="todo-form"
>
<mat-card class="new-todo-form">
  <mat-card-header>
    <mat-card-title>{{ 'taskForm.newTaskTitle' | transloco }}</mat-card-title>
  </mat-card-header>

  <div>
    <span>{{ 'taskForm.statusLabel' | transloco }}</span>
    <mat-checkbox
      name="title"
      [(ngModel)]="newTodoData.status"
    />
  </div>

  <mat-form-field>
    <mat-label>{{ 'taskForm.title' | transloco }}</mat-label>
    <input
      matInput
      name="title"
      [(ngModel)]="newTodoData.title"
      [placeholder]="'taskForm.textInputPlaceholder' | transloco"
    >
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'taskForm.description' | transloco }}</mat-label>
    <textarea
      matInput
      name="description"
      [(ngModel)]="newTodoData.description"
      required
      minlength="5"
      #description="ngModel"
      placeholder="Введите описание задачи"
    ></textarea>
    @if (description.errors?.['required']) {
      <mat-error>Поле обязательно для заполнения</mat-error>
    }
    @if (description.errors?.['minlength']) {
      <mat-error>Поле должно содержать не менее 5 символов</mat-error>
    }
  </mat-form-field>
  <mat-card-actions class="new-todo-form__actions">
    <app-button
      [btn-title]="'taskForm.addTaskBtnTitle' | transloco"
      [isDisabled]="!!form.invalid || !!form.pristine"
      [appTooltip]="'taskForm.addTaskBtnTitle' | transloco"
      type="submit"
    />
  </mat-card-actions>
</mat-card>
</form>
