@let itemData = item();

<mat-card
  class="item"
  (click)="selectItem(itemData)"
  [class.selected]="isSelected()"
>
  <mat-card-header class="item__title">
    <mat-card-title [class.completed]="itemData.completed">
      {{ itemData.title }}
    </mat-card-title>
    <span>{{ itemData.completed ? '✔️' : '⏰' }}</span>
  </mat-card-header>
  <p>{{ itemData.description }}</p>
  <mat-card-actions class="item__actions">
    <app-button
      btn-title="Удалить задачу"
      [stopPropagation]="true"
      [appTooltip]="'Удалить задачу'"
      (clicked)="deleteItem(itemData.id)"
    />
  </mat-card-actions>
</mat-card>
