@let editMode = isEditMode();
@let itemId = selectedItemId();
@if (itemId) {
<form
  #form="ngForm"
  (ngSubmit)="save()"
>
  <mat-card class="edit-todo-form">
    <mat-card-header>
      <mat-card-title>{{ title() }}</mat-card-title>
    </mat-card-header>
  <div>
    <span>Статус задачи</span>
    <mat-checkbox
      name="status"
      [disabled]="!editMode"
      [(ngModel)]="dataToSave().status"
    />
  </div>

  <mat-form-field>
    <mat-label>Название</mat-label>
    <input
      matInput
      name="title"
      [disabled]="!editMode"
      [(ngModel)]="dataToSave().title"
    >
  </mat-form-field>
  <mat-form-field>
    <mat-label>Описание</mat-label>
    <textarea
      matInput
      name="description"
      #description="ngModel"
      [(ngModel)]="dataToSave().description"
      [disabled]="!editMode"
      required
      minlength="5"
    ></textarea>
  </mat-form-field>
  @if (description.invalid && description.dirty) {
    @if (description.errors?.['required']) {
      <mat-error>Поле обязательно для заполнения</mat-error>
    }
    @if (description.errors?.['minlength']) {
      <mat-error>Поле должно содержать не менее 5 символов</mat-error>
    }
  }
  @if (editMode && form) {
  <div class="edit-todo-form__actions">
    <app-button
      btn-title="Сохранить"
      type="submit"
      [isDisabled]="isSaveDisabled"
      [appTooltip]="'Сохранить задачу'"
    />
  </div>
  }
  </mat-card>
</form>
} @else {
  <h3 class="select-task-warn">Выберите задачу</h3>
}

