@let editMode = isEditMode();
@let itemId = selectedItemId();
@let dataToSave = dataToSave$ | async;
@if (itemId) {
<form
  #form="ngForm"
  (ngSubmit)="save()"
>
  <mat-card class="edit-todo-form">
    <mat-card-header>
      <mat-card-title>{{ title() }}</mat-card-title>
    </mat-card-header>
  <div>
    <span>{{ 'taskForm.status' | transloco }}</span>
    <mat-checkbox
      name="status"
      [disabled]="!editMode"
      [ngModel]="dataToSave?.status"
      (ngModelChange)="updateDataToSave({ status: $event })"
    />
  </div>

  <mat-form-field>
    <mat-label>{{ 'taskForm.title' | transloco }}</mat-label>
    <input
      matInput
      name="title"
      [disabled]="!editMode"
      [ngModel]="dataToSave?.title"
      (ngModelChange)="updateDataToSave({ title: $event })"
    >
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'taskForm.description' | transloco }}</mat-label>
    <textarea
      matInput
      name="description"
      #description="ngModel"
      [ngModel]="dataToSave?.description"
      (ngModelChange)="updateDataToSave({ description: $event })"
      [disabled]="!editMode"
      required
      minlength="5"
    ></textarea>
  </mat-form-field>
  @if (description.invalid && description.dirty) {
    @if (description.errors?.['required']) {
      <mat-error>Поле обязательно для заполнения</mat-error>
    }
    @if (description.errors?.['minlength']) {
      <mat-error>Поле должно содержать не менее 5 символов</mat-error>
    }
  }
  @if (editMode && form) {
  <div class="edit-todo-form__actions">
    <app-button
      btn-title="Сохранить"
      type="submit"
      [isDisabled]="isSaveDisabled"
      [appTooltip]="'taskForm.saveTooltip' | transloco"
    />
  </div>
  }
  </mat-card>
</form>
} @else {
  <h3 class="select-task-warn">{{ 'backlog.selectTask' | transloco }}</h3>
}

