<mat-nav-list class="menu">
  <div routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
  <button mat-button [routerLink]="Eroute.BACKLOG" class="menu__item">
    <mat-icon mat-list-icon>list</mat-icon>
    <span mat-line>Tasks Backlog</span>
  </button>
  </div>
  <div routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
  <button mat-button [routerLink]="Eroute.BOARD" class="menu__item">
    <mat-icon mat-list-icon>list</mat-icon>
    <span mat-line>Tasks Board</span>
  </button>
  </div>
</mat-nav-list>
