@let dataToShow = selectedItem();

<div class="edit-todo-form">
  <h2>{{ title() }} </h2>
  <div>
    <span>Статус задачи</span>
    <mat-checkbox
      name="status"
      [disabled]="!isEditMode()"
      [checked]="dataToShow?.status === EStatus.COMPLETED"
    />
  </div>

  <mat-form-field class="example-full-width">
    <mat-label>Название</mat-label>
    <input
      matInput
      name="title"
      [value]="dataToShow?.title"
      [disabled]="!isEditMode()"
      (input)="updateTitle($event)"
    >
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Описание</mat-label>
    <textarea
      matInput
      name="description"
      [value]="dataToShow?.description"
      [disabled]="!isEditMode()"
      required
      minlength="5"
      (input)="updateDescription($event)"
    ></textarea>
  </mat-form-field>
  @if (isEditMode()) {
  <div class="edit-todo-form__actions">
    <app-button
      btn-title="Сохранить"
      type="submit"
      [isDisabled]="!isFormDirty()"
      [appTooltip]="'Сохранить задачу'"
      (clicked)="save()"
    />
  </div>
  }
</div>
